@import "./variants";

@mixin bp1() {
  @media screen and (min-width: #{$bp1}) {
    @content;
  }
}

@mixin bp2() {
  @media screen and (min-width: #{$bp2}) {
    @content;
  }
}

@mixin bp3() {
  @media screen and (min-width: #{$bp3}) {
    @content;
  }
}

@mixin customMinBp($value) {
  @media screen and (min-width: $value) {
    @content;
  }
}

@mixin customMaxBp($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin uchan($wheight) {
  font-family: "Uchan", sans-serif;
  font-weight: $wheight;
}

@mixin scratch() {
  content: " ";
  position: absolute;
  height: 2px;
  background: map-get($map: $indigo, $key: 900);
  @content;
}

@mixin scratchIn($duration) {
  animation: scratchIn $duration cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  @keyframes scratchIn {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }
}

@mixin scratchOut($duration) {
  animation: scratchOut $duration cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  @keyframes scratchOut {
    0% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
  }
}

@mixin rotate($duration) {
  animation-name: rotate;
  animation-duration: $duration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(720deg);
    }
  }
}

@mixin shimmer($duration) {
  animation-name: shimmer;
  animation-duration: $duration;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-iteration-count: infinite;
  background: lighten($color: map-get($map: $indigo, $key: 900), $amount: 30);
  background-image: linear-gradient(
    90deg,
    transparent,
    map-get($map: $indigo, $key: 500),
    transparent
  );
  background-repeat: no-repeat;

  @keyframes shimmer {
    from {
      background-position: -465px;
    }

    to {
      background-position: 465px;
    }
  }
}

@mixin fadeIn($duration, $delay: false) {
  @if $delay == false {
    $delay: 0s;
  }

  animation-name: fadeIn;
  animation-duration: $duration;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  animation-delay: $delay;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
