@import "../../../styles/core/variants";
@import "../../../styles/core/mixins";
@import "../../../styles/components/index.scss";

.trashButton {
  @extend %icon;
}

.trashButtonPopoverContentWrapper {
  width: 260px;
  padding: $space-sm;
  background: #fff;
  border-radius: 8px;
  box-shadow: $shadow;
  right: 10px;

  @include bp1 {
    width: 280px;
  }
}

.trashButtonPopoverContent {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  margin-bottom: $space-sm;

  & > strong {
    font-size: 16px;
  }

  & > button {
    width: 40%;
    height: 26px;
    @extend %button;
  }
}

.trashButtonPopoverArrow {
  fill: white;
}

.trashButtonPopoverCheckBox {
  & > label,
  input {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
  }
}
