@import "../../../styles/core/variants";
@import "../../../styles/core/mixins";
@import "../../../styles/components/button";

.todolistWrapper {
  width: 100%;
  max-width: 640px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: map-get($map: $indigo, $key: 500);
  border-radius: 8px;
  box-shadow: $shadow-lg;

  @include bp1() {
    padding: $space-sm;
  }
}

.todolistList {
  width: 100%;

  @include bp1() {
    width: 640px;
  }
}

.todolistListItem {
  width: 100%;
  height: 72px;
  color: $white;

  @include uchan(500);

  padding: $space-sm;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  transition: background 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    background: lighten($color: map-get($map: $indigo, $key: 700), $amount: 5);
  }
}

.todolistListItemName {
  position: relative;
}

.todolistListItemNameDone::before {
  @include scratch;
  top: 10px;
  left: 0;
  @include scratchIn(0.4s);
}

.todolistListItemNameNotDone::before {
  @include scratch;
  top: 10px;
  left: 0;
  @include scratchOut(0.4s);
}

.todolistCheckWrapper {
  width: 22px;
  height: 22px;
  margin-right: $space-sm;

  display: flex;
  align-items: center;
  justify-content: center;

  background: lighten($color: map-get($map: $indigo, $key: 900), $amount: 20);
  border-radius: 50%;

  transition: background 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.todolistCheckDoneWrapper {
  background: $success;

  & svg {
    color: $white;
  }
}

.todolistTrashButton {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  transition: background 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  & > svg {
    color: $white;
  }

  &:hover {
    background: map-get($map: $indigo, $key: 500);
  }
}

.todolistTrashPopoverContentWrapper {
  width: 260px;
  padding: $space-sm;
  background: #fff;
  border-radius: 8px;
  box-shadow: $shadow;
  right: 10px;

  @include bp1 {
    width: 280px;
  }
}

.todolistTrashPopoverContent {
  display: flex;
  flex-direction: column;
  gap: $space-sm;
  margin-bottom: $space-sm;

  & > strong {
    font-size: 16px;
  }

  & > button {
    width: 40%;
    height: 26px;
    @extend %button;
  }
}

.todoListTrashPopoverArrow {
  fill: white;
}

.todolistTrashPopoverContentCheckBox {
  & > label {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
  }
}
