@import "../../styles/core/variants";
@import "../../styles/core/mixins";

.header {
  width: 100%;
  height: 56px;
  background-color: darken(
    $color: map-get($map: $indigo, $key: 500),
    $amount: 5
  );
  box-shadow: $shadow-md;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: $space-sm;
}
