@import "../../../styles/core/variants";
@import "../../../styles/core/mixins";

.popUpViewPort {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 200;

  width: 100%;

  @include customMinBp(280px) {
    width: 280px;
  }
}

.popUpRoot {
  box-shadow: $shadow-lg;

  @keyframes slideRight {
    from {
      transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
      transform: translateX(100%);
    }
  }

  @keyframes open {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes closed {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    &[data-state="open"] {
      animation: open 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &[data-state="closed"] {
      animation: closed 200ms ease-in;
    }

    &[data-swipe="move"] {
      transform: translateX(var(--radix-toast-swipe-move-x));
    }
    &[data-swipe="cancel"] {
      transform: translateX(0);
      transition: transform 200ms ease-out;
    }
    &[data-swipe="end"] {
      animation: slideRight 100ms ease-out;
    }
  }
}

.popUpContentWrapper {
  background: map-get($map: $indigo, $key: 500);
  color: $white;

  font-weight: 600;
  padding: $space-sm;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.popUpTitle {
  display: flex;
  align-items: center;
  column-gap: $space-sm;
  margin-bottom: $space-sm;
}

.popUpContentSuccess {
  @extend .popUpContentWrapper;

  background: $success;
}
