@import "../../../styles/core/variants";
@import "../../../styles/core/mixins";
@import "../../../styles/components/index.scss";

.tasklistWrapper {
  width: 100%;
  max-width: 640px;

  background: map-get($map: $indigo, $key: 500);
  border-radius: 8px;
  box-shadow: $shadow-lg;
}

.tasklistList {
  width: 100%;
  padding: $space-sm;
  overflow: hidden;

  @include bp1() {
    max-width: 640px;
  }
}

.tasklistListItem {
  position: relative;
  width: 100%;
  min-height: 52px;
  display: flex;
  flex-direction: column;

  padding: $space-sm;

  color: $white;
  @include uchan(500);

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  transition: background 0.4s cubic-bezier(0.215, 0.61, 0.355, 1),
    height 100ms cubic-bezier(0.215, 0.61, 0.355, 1);

  will-change: height;

  &:hover {
    background: lighten($color: map-get($map: $indigo, $key: 700), $amount: 5);
  }

  & > div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.tasklistListItemExpand {
  & > div:first-child {
    margin-bottom: $space-lg;
  }

  & .tasklistExpandButton {
    transform: rotate(180deg);
  }

  & .tasklistItemDetails {
    display: block;
  }
}

.tasklistLabelName {
  position: relative;
  word-break: break-all;
  cursor: pointer;
}

.tasklistLabelNameFinished::before {
  @include scratch;
  top: 10px;
  left: 0;
  @include scratchIn(0.4s);
}

.tasklistListItemNameNotDone::before {
  @include scratch;
  top: 10px;
  left: 0;
  @include scratchOut(0.4s);
}

.tasklistCheckBox {
  -webkit-appearance: none;
  appearance: none;

  width: 22px;
  height: 22px;
  margin-right: $space-sm;

  background-color: lighten(
    $color: map-get($map: $indigo, $key: 900),
    $amount: 20
  );
  border-radius: 50%;

  cursor: pointer;

  transition: background 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.tasklistCheckBox:checked {
  background-color: $success;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
}

.tasklistExpandButton {
  @extend %icon;
  will-change: transform;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tasklistItemDetails {
  display: none;
  & > div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $space-md;
    justify-content: flex-start;
    opacity: 0;
    @include fadeIn(0.4s, 50ms);

    @include bp1 {
      justify-content: space-between;
    }
  }

  & span {
    font-size: 14px;

    @include bp1 {
      font-size: 16px;
    }
  }
}
